Flask
Flask-SQLAlchemy
pandas
numpy
scikit-learn
matplotlib
wordcloud
openpyxl
Flask
seaborn  

# Server WSGI untuk menjalankan Flask di lingkungan produksi (seperti Docker)
gunicorn

# Untuk membaca dan memanipulasi file Excel (.xlsx)
pandas
openpyxl

# Untuk Natural Language Processing (stopwords, tokenization)
nltk

# Untuk stemming Bahasa Indonesia
Sastrawi

# Untuk machine learning (misalnya, TF-IDF, model klasifikasi)
scikit-learn
fpdf2 