{% extends "base.html" %} {% block content %}
<h2 class="fw-bold mb-4">
  Riwayat Data
  <span class="badge bg-secondary fs-6 align-middle"
    >{{ logs|length }} Total</span
  >
</h2>

<div class="card shadow-sm">
  <div class="table-responsive">
    <table class="table table-hover align-middle mb-0">
      <thead class="table-light">
        <tr>
          <th>Waktu (WIB)</th>
          <th>Rumah Sakit</th>
          <th>Ulasan</th>
          <th>Sentimen</th>
          <th class="text-end">Aksi</th>
        </tr>
      </thead>
      <tbody>
        {% for log in logs %}
        <tr>
          <!-- Menggunakan Custom Filter datetime_wib -->
          <td class="small text-muted">{{ log.timestamp | datetime_wib }}</td>
          <td class="fw-semibold">{{ log.hospital_name }}</td>
          <td>{{ log.review_text }}</td>
          <td>
            <span
              class="badge {% if log.sentiment == 'Positif' %}bg-success{% else %}bg-danger{% endif %}"
            >
              {{ log.sentiment }} ({{ log.confidence }}%)
            </span>
          </td>
          <td class="text-end">
            <a
              href="{{ url_for('delete_log', id=log.id) }}"
              class="btn btn-sm btn-outline-danger"
              onclick="return confirm('Hapus data ini?');"
            >
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
